server:
  port: 8080
spring:
  application:
    name: takeout
  datasource:
    druid:
      driver-class-name: com.mysql.cj.jdbc.Driver
      url: jdbc:mysql://your database url
      username: your database username
      password: your database password
  redis:
    host: xxxx
    port: xxx
    database: xx
    password: xx
  cache:
    redis:
      time-to-live: 1800000  # 30 minutes
mybatis-plus:
  configuration:

    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      id-type: ASSIGN_ID

#amazon:
#  s3bucket:
#    bucketName: xx
#    accessKey: xxx
#    secretKey: xx
#    region: xx
#takeout:
#  path: .\img\